@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&display=swap");
html {
	background-color: rgb(15, 123, 152);
}
body {
	display: flex;
	margin: auto;
	flex-direction: column;
}
header {
	display: flex;
	align-items: center;
	justify-content: center;
}

#header-background {
	background-color: azure;
	border-radius: 100%;
	width: fit-content;
	margin-top: 0.5em;
}

#content {
	max-width: 1700px;
	display: flex;
	flex-direction: row;
	margin: auto;
}

#sidebar {
	background-color: azure;
	display: flex;
	flex-direction: column;
	height: fit-content;
	min-width: 30%;
	font-family: "Roboto";
	border-radius: 5%;
}

li {
	padding: 1em;
	font-size: 1.25em;
}
li::marker {
	content: "🐟";
}
#tips-header {
	font-family: "Lobster";
	font-size: 5em;
	color: rgb(15, 123, 152);
	padding: 0;
	margin: 0;
	text-align: center;
}
blockquote {
	word-wrap: break-word;
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
}
.image-card {
	object-fit: cover;
	width: 22em;
	height: 17em;
	border-radius: 5% 5% 0 0;
}

.fish-card,
.location-card {
	max-width: 22em;
	background-color: azure;
	border-radius: 5%;
	box-shadow: 0.125em 0.125em 0.3em 0.03em rgba(0, 0, 0, 0.25);
	justify-content: space-between;
	flex-shrink: 1;
}

.text-wrapper-fish,
.text-wrapper-location {
	display: flex;
	padding: 1em;
	flex-direction: column;
}

.text-wrapper-location {
	height: 10em;
	flex-grow: 1;
	justify-content: space-between;
}
.location-row {
	justify-content: flex-end;
	text-align: end;
}
.header-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}
h2 {
	font-family: "Roboto";
	font-style: italic;
	font-size: 5em;
	color: azure;
	padding: 0 0 0.25em 0;

	margin: 0;
}

.fish-name,
.fish-species,
.fish-location,
.fish-size,
.fish-diet,
.location-region,
.location-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	font-family: "Roboto";
}
h1 {
	font-family: "Lobster";
	font-size: 5em;
	padding: 0.5em;
	color: rgb(15, 123, 152);
}
h3,
.location-name {
	font-family: "Roboto Condensed";
	font-weight: 800;
	font-size: 1em;
	margin: 0.125em;
	padding: 0;
}

.fish,
.locationList {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	padding-bottom: 2em;
}

@media only screen and (max-width: 1200px) {
	#content {
		flex-direction: column;
		justify-content: center;
	}
	#main-stuff {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	#sidebar {
		width: auto;
		margin: 2em;
	}
	.fish,
	.locationList {
		display: flex;
		flex-wrap: wrap;
		gap: 2em;
		padding-bottom: 2em;
		justify-content: space-around;
	}
	.header-wrapper {
		display: flex;
		justify-content: center;
	}
	.header-background {
		margin: 1em;
	}
	h1 {
		text-align: center;
	}
}
